//Sizes
@view-port: 1000px;
@nav-height: 80px;



//Colors
@a_menu-color: url(images/menu-bg-light.png) center top;
@primary-color: #ffd200;
@menu-color: url(images/menu-bg.jpg) repeat-x;
@light-color: #f2f2f2;
@main-bg-color: #fff;
@font-color: #000;