//Sizes
@view-port: 1000px;
@nav-height: 80px;



//Colors
@a_menu-color: url(images/menu-bg-light.png) center top;
@a_hov_menu-color: #01496f url(images/menu-bg-light.png) center top;
@primary-color: #ffd200;
@menu-color: url(images/menu-bg.jpg) repeat-x;
@light-color: #f2f2f2;
@main-bg-color: #fff;
@enter-bg-color: #f0f0f0;
@font-wight-color: #fff;
@shadow-color: #eeeeee;
@save-news-color: #8e8d8d;
@font-color: #000;
@font-hover-color: #4d90bb;
@bar-color: #f7f7f7;
@news-color: #555;
@bg-span-color: #e7e7e7;
@basket-span-color: #2c88b9;
@bread-span-color: #2c8bbb;
@line-sort-color: #888;
@line-sort-bg-color: #fafbfb;
@line-sort-border-color: #dee7ec;
@input-bd-color: #959b9e;
@grad-color: linear-gradient(to right, #2375a4 0%, #29bad8 1%,#207cca 64%,#2375a4 100%);
@new-lab-color: url(images/new-nav.jpg) left center no-repeat;
@leader-lab-color: url(images/lider-nav.jpg) left center no-repeat;
@sale-lab-color: url(images/sale-nav.jpg) left center no-repeat;
@gloss-bg-color: url(images/glyanec.png) top repeat-x;
@disc-style: url(images/disc.gif);
@footer-bg-color: #006b98 url(images/footer-bg.jpg) top repeat-x;
@font-footer-color: rgba(255, 255, 255, 0.7);
@sort-top-color: url(images/sort-top.gif) left 5px no-repeat;
@sort-top-act-color: url(images/sort-top-act.gif) left 5px no-repeat;
@sort-bot-act-color: url(images/sort-bot-act.gif) left 5px no-repeat;
@sort-bot-color: url(images/sort-bot.gif) left 5px no-repeat;